<div class="container">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @event['name']['text'] %></dd>
      <dt>Category</dt>
      <% if !@event['category'].nil? %>
        <dd><%= @event['category']['name'] %></dd>
      <% else %>
        <dd>none</dd>
      <% end %>
      <dt>Description</dt>
      <dd><%= @event['description']['text'] %></dd>
      <dt>Venue</dt>
      <dd><%= @event['venue']['name'] %></dd>
    </dl>
  </div>
</div>

<pre><%= pp @event %></pre>