<div class="container">

  <h2 class="text-center">
    <%= @event['name']['text'] %> <br/>
    <small><%= long_datetime(@event['start']['local']) %></small>
  </h2>

  <% if !@event['logo'].nil? %>
      <div class="col-md-4">
        <%= image_tag @event['logo']['url'] unless @event['logo'].nil? %>
      </div>
      <div class="col-md-8">
        <%= render 'details' %>
      </div>
  <% else %>
      <div class="col-md-12">
        <%= render 'details' %>
      </div>
  <% end %>
</div>