<div class="container">
  <div class="col-md-4">
    <%= image_tag @event['logo']['url'] unless @event['logo'].nil? %>
  </div>
  <div class="col-md-8">
    <h2 class="text-center">
      <%= @event['name']['text'] %> <br/>
      <small><%= long_datetime(@event['start']['local']) %></small>
    </h2>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @event['name']['text'] %></dd>
      <dt>Category</dt>
      <% if !@event['category'].nil? %>
        <dd><%= @event['category']['name'] %></dd>
      <% else %>
        <dd>none</dd>
      <% end %>
      <dt>Description</dt>
      <dd><%= @event['description']['text'] %></dd>
      <dt>Venue</dt>
      <dd><%= @event['venue']['name'] %></dd>
      <dt>Address</dt>
      <dd>
        <%=	@event['venue']['address']['address_1'] %> <br/>
        <%=	@event['venue']['address']['city'] %>
        <%= @event['venue']['address']['region'] %>,
        <%= @event['venue']['address']['postal_code'] %>
      </dd>
      <dt>Tickets</dt>
      <dd>
        <table class="table table-bordered table-striped">
          <tr>
            <th>Description</th>
            <th>Cost</th>
            <th>Fee</th>
          </tr>
          <% @event['ticket_classes'].each do |ticket| %>
            <tr>
              <td><%= ticket['name'] %></td>
              <td><%= (ticket['free'])? 'Free' : ticket['cost']['display'] %></td>
              <td><%= (ticket['free'])? 'None' : ticket['fee']['display'] %></td>
            </tr>
          <% end %>
        </table>
      </dd>
    </dl>
  </div>
</div>