<!DOCTYPE html>
<html>
<head>
  <title>GetThereApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4JfW9-iLZs7LkIAzWntqHs_HW6ewvt2U"></script>

</head>
<body>
    <%=	render "layouts/nav"  %>

    <%= yield %>
    </div>
</body>
</html>
